:root {
  --body-background: #ffffff;
  --acent: #2196f3;
  --black-logo-header: #000000;
  --nav-header-link: #212121;
  --nav-header-contact: #757575;
  --hero-title: #ffffff;
  --button-hero: #2196f3;
  --hero-background: #2f303a;
  --title: #212121;
  --filter-buttons: #212121;
  --text: #212121;
  --white-logo-footer: #ffffff;
  --button-hero-title: #ffffff;
  --bkg-section-our-team: #f5f4fa;
  --footer-bkg: #2f303a;
  --logo-footer: #ffffff;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
  --fiz-adress: #ffffff;
  --button-filter: #f5f4fa;
  --button-title: #212121;
  --button-title-hover: #ffffff;
  --bkg-card-portfolio: #ffffff;
  --text-card-portfolio: #757575;
  --paragraf: #757575;
  --border-heder: #ececec;
  --border-heder-portfolio: #d9d9d9;
  --net-item-border: #eeeeee;
  --icon-benefit: #f5f4fa;
  --svg-tel: #757575;
  --svg-envelope: #757575;
  --svg-soc-icon: #afb1b8;
  --svg-color-hover: #ffffff;
  --svg-client: #afb1b8;
  --title-join: #ffffff;
  --svg-color-footer: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--text);
  background-color: var(--body-background);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.heder-section {
  border-bottom: 1px solid var(--border-heder);
  height: 60px;
}
@media screen and (min-width: 768px) {
  .heder-section {
    height: 80px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
}

.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acent);
}
@media screen and (min-width: 1200px) {
  .logo-web {
    justify-content: space-between;
    font-size: 26px;
  }
}

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--black-logo-header);
}

.mob-menu-btn-open {
  display: none;
}
@media screen and (max-width: 767px) {
  .mob-menu-btn-open {
    margin-left: auto;
    display: block;
    border: none;
    background-color: transparent;
  }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.container-mob-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-top {
  margin-bottom: 32px;
}

.mob-menu-btn-close {
  margin-bottom: 8px;
  margin-left: auto;
  display: block;
  border: none;
  background-color: transparent;
}

.mob-menu-btn-close:focus {
  color: var(--acent);
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
}

.mob-menu-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-connect-list {
  margin-bottom: 64px;
}

.mobile-connect-item {
  margin-bottom: 32px;
}

.mob-connect-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--acent);
}

.mob-connect-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.mob-soc-item {
  padding-right: 10px;
}

.mob-soc-item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--acent);
  text-decoration: none;
}

.site-nav {
  display: none;
  margin-left: 90px;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-header-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover, .nav-link:focus {
  color: var(--acent);
}

.current {
  color: var(--acent);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acent);
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 96px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    gap: 30px;
  }
}

.header-contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover, .header-contact:focus {
  color: var(--acent);
}
@media screen and (min-width: 1200px) {
  .header-contact {
    font-size: 14px;
    line-height: 1.14;
  }
}

.svg-envelope {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .svg-envelope {
    width: 16px;
    height: 12px;
  }
}

.svg-tel {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 1200px) {
  .svg-tel {
    width: 12px;
    height: 16px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bkg);
}

.footer-wrap {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-wrap {
    justify-content: space-between;
    text-align: left;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-logo-footer);
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .adress-list {
    gap: 9px;
  }
}

.fiz-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fiz-adress);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fiz-adress:hover, .fiz-adress:focus {
  color: var(--acent);
}

.footer-mail-phoneess {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail-phoneess:hover, .footer-mail-phoneess:focus {
  color: var(--acent);
}

.footer-adress {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-adress {
    margin-bottom: 0px;
    width: 231px;
  }
}

.footer-join {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-join {
    margin-bottom: 0px;
  }
}

.title-join {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-join);
  margin-bottom: 20px;
}

.soc-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .soc-list-footer {
    margin-bottom: 0px;
  }
}

.soc-item-footer {
  width: 44px;
  height: 44px;
}

.soc-item-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--svg-color-footer);
  background-color: #1388e7;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-item-link-footer:hover, .soc-item-link-footer:focus {
  background-color: var(--acent);
}

.ins-foo {
  fill: currentColor;
}

.twi-foo {
  fill: currentColor;
}

.fac-foo {
  fill: currentColor;
}

.lin-foo {
  fill: currentColor;
}

.footer-form-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.input-area-footer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .input-area-footer {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .input-area-footer {
    flex-direction: row;
    justify-content: left;
    gap: 12px;
    flex-wrap: nowrap;
  }
}

.input-email {
  width: 450px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
  }
}

.button-send {
  margin: 0;
  padding: 0;
  padding-left: 28px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--acent);
  cursor: pointer;
}

.btn-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.button-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  border-radius: 4px;
  border: none;
  color: var(--button-title);
  background-color: var(--button-filter);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover, .button-filter:focus {
  color: var(--button-title-hover);
  background-color: var(--acent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
}

.list.net {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.net-item {
  width: calc((100% - 60px) / 3);
}

.card-border {
  border-left: 1px solid var(--net-item-border);
  border-right: 1px solid var(--net-item-border);
  border-bottom: 1px solid var(--net-item-border);
  padding: 20px 24px;
}

.picture-card {
  display: block;
}

.card-portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover, .card-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.relative-text {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--body-background);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover .top-text, .card-portfolio:focus .top-text {
  transform: translateY(0);
}

.title-card-portfolio {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title);
}

.text-card-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-card-portfolio);
}/*# sourceMappingURL=pirtfolio.css.map */