:root {
  --body-background: #ffffff;
  --acent: #2196f3;
  --black-logo-header: #000000;
  --nav-header-link: #212121;
  --nav-header-contact: #757575;
  --hero-title: #ffffff;
  --button-hero: #2196f3;
  --hero-background: #2f303a;
  --title: #212121;
  --filter-buttons: #212121;
  --text: #212121;
  --white-logo-footer: #ffffff;
  --button-hero-title: #ffffff;
  --bkg-section-our-team: #f5f4fa;
  --footer-bkg: #2f303a;
  --logo-footer: #ffffff;
  --footer-mail-phone: rgba(255, 255, 255, 0.6);
  --fiz-adress: #ffffff;
  --button-filter: #f5f4fa;
  --button-title: #212121;
  --button-title-hover: #ffffff;
  --bkg-card-portfolio: #ffffff;
  --text-card-portfolio: #757575;
  --paragraf: #757575;
  --border-heder: #ececec;
  --border-heder-portfolio: #d9d9d9;
  --net-item-border: #eeeeee;
  --icon-benefit: #f5f4fa;
  --svg-tel: #757575;
  --svg-envelope: #757575;
  --svg-soc-icon: #afb1b8;
  --svg-color-hover: #ffffff;
  --svg-client: #afb1b8;
  --title-join: #ffffff;
  --svg-color-footer: #ffffff;
}
