.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width:768px) {
    width: 528px;
    height: 581px;
    
  }
}

.icon-modal-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .btn-modal-close:hover &,
  .btn-modal-close:focus & {
    fill: var(--acent);
  }
}

.btn-modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--acent);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
